{% extends 'bookkeeping/account/account_base.html' %}

{% load crispy_forms_tags %}

{% block account-header %}
Create
{% endblock account-header %}

{% block  content %}
    <form method = "post"  action={% url 'account_create' %} class="form-group"> 
        {% csrf_token %}
        <div class="form-row d-flex justify-content">
            <div class="form-group col-12 mb-0 px-2">
                {{ form.account_name|as_crispy_field }}
                {{ form.account_name.error }}
            </div>
        </div>
        <div class="form-row d-flex justify-content">
            <div class="form-group col-md-6 mb-0 px-2">
                {{ form.account_type|as_crispy_field }}
            </div>
            <div class="form-group col-md-6 mb-0 px-2">
                {{ form.account_category|as_crispy_field }}
            </div>
        </div>
        <div class="form-row d-flex justify-content">
            <div class="form-group col-12 mb-0 px-2">
                {{ form.account_description|as_crispy_field }}
            </div>
        </div>
        <br>
        <button class='btn btn-primary' type="submit">Create Account</button> 
    </form> 
{% endblock  %}